body {
    font-family: Arial, Helvetica, sans-serif;
}


.header-left {
    grid-area: headerleft;
}

.header-right {
    text-align: right;
    grid-area: headerright;
}

.header{
    grid-area: header;
}

.menu {
    grid-area: menu;
}

.hero {
    grid-area: hero;
}

.breakingnews {
    text-align: center;
    
}

.vanlignews {
    text-align: center;

}

.main {
    grid-area: main;
}

.banner {
    grid-area: banner;
}

.extra {
    grid-area: extra;
}

.image {
    grid-area: image;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 2fr repeat(4, 1fr);
    grid-template-areas:
        "headerleft header header headerright"
        "hero hero hero hero"
        "menu main main main"
        "menu main main main"
        "menu banner banner banner"
        "menu extra image image";
}

img{
    border: white 3px solid;
    
}

img:hover {
    border: blue 3px solid;
    transition: 0.4s;
}

img:active {
    border: red 3px solid;
    transition: 0.1s;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: url(/resturant/bilder/mcdbackg1.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    width: auto;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: medium;
}