body {
    font-family: Arial, Helvetica, sans-serif;
}


.header-left {
    grid-area: headerleft;
}

.header-right {
    text-align: right;
    grid-area: headerright;
}

.header{
    grid-area: header;
}

.menu {
    grid-area: menu;
}

.hero {
    grid-area: hero;
}

.breakingnews {
    text-align: center;
    
}

.vanlignews {
    text-align: center;

}

.l{
    grid-area: l;
}

.main {
    grid-area: main;
}

.banner {
    grid-area: banner;
}

.extra {
    grid-area: extra;
}

.image {
    grid-area: image;
}

.grid {
    border: black 2px solid;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "headerleft headerleft headerleft header header header header header header headerright headerright headerright"
        "hero hero hero hero hero hero hero hero hero hero hero hero"
        "menu menu menu main main main main main main main main main"
        "menu menu menu main main main main main main main main main"
        "menu menu menu banner banner banner banner banner banner banner banner banner"
        "menu menu menu extra extra extra image image image image image image";
}

img{
    border: white 3px solid;
    
}

img:hover {
    border: blue 3px solid;
    transition: 0.4s;
}

img:active {
    border: red 3px solid;
    transition: 0.1s;
}

button {
    width: auto;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: medium;
}

div{
    border: black 2px solid;
}