* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #42455a;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sticky ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sticky li{
    flex-grow: 1;
    flex-basis: 100px;
}

.sticky a{
    display: block;
    text-decoration: none;
    padding: 1rem;
    background-color: #D77A61;
    color: #42455a;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.sticky a:hover{
    transition: 0.3s;
    background-color: #42455a;
    color: #D77A61;
}

/*Start på scroll-effekt*/
/*Inspirasjon fra: https://alvarotrigo.com/blog/css-animations-scroll/ */

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container {
    margin: 100px;
}

section h1 {
    font-size: 3rem;
    margin: 20px;
}

section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

section .text-container {
    display: flex;
}

section .text-container .text-box {
    margin: 20px;
    padding: 20px;
    background: #D77A61;
}

.text-box {
    border-radius: 20px;
}

@media (max-width: 800px) {
    section h1 {
        font-size: 2rem;
        text-align: center;
    }

    section .text-container {
        flex-direction: column;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 0.75s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/*Slutt på scroll-effekt*/ 

/*Navnene til skaperne*/
section h3{
    position: absolute;
    bottom: 8%;  
}

#frontpg{
    background-image: url('bilder/fb-privacy.png');
    background-size: cover;
    background-position: center;
}
/*Inspirasjon fra https://csslab.app/buttons/arrow-button*/
/*Pil start*/
.arrow-button {
    display: flex;
    color: #42455a;
    background-color: #D77A61;
    padding: 10px 16px;
    border-radius: 20px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    position: absolute;
    right: 20px;
}

.arrow-button > .arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid #42455a;
    border-bottom: 2px solid #42455a;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}

.arrow-button > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .2s ease;
    content: "";
    right: 0;
}

.arrow-button:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
    border-right: 2px solid #D77A61;
    border-bottom: 2px solid #D77A61;
}

.arrow-button:hover > .arrow::before {
    opacity: 1;
    width: 8px;
}

.arrow-button:hover {
    background-color: #42455a;
    color: #D77A61;
}
/*Pil slutt*/