* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #575c7c;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sticky ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.main {
    font-size: 1.1em;
    font-weight: 380;
    line-height: 1.65;
    letter-spacing: .005em;
}

.sticky li{
    flex-grow: 1;
    flex-basis: auto;
}

.sticky a{
    display: block;
    text-decoration: none;
    padding: 1rem;
    background-color: #E4A796;
    color: #42455a;
    width: 100%;
    text-align: center;
    font-weight: 600;
    border-bottom: #42455a solid 2px;

}

.sticky a:hover{
    transition: 0.3s;
    background-color: #42455a;
    color: #E4A796;
    border-bottom: #E4A796 solid 2px;
}

.aktiv a{
    background-color: #42455a;
    color: #E4A796;
    border-bottom: #E4A796 solid 2px;
}

#frontpg{
    background-image: url('bilder/fb-privacy.jpg');
    background-size: cover;
    background-position: center;
}

/*Inspirasjon fra https://csslab.app/buttons/arrow-button*/
/*Pil start*/
.arrow-button {
    display: flex;
    color: #42455a;
    background-color: #E4A796;
    padding: 10px 16px;
    border-radius: 20px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    position: absolute; /*Plassering*/
    right: 20px;
}

.arrow-button > .arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid #42455a;
    border-bottom: 2px solid #42455a;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}

.arrow-button > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .05s ease;
    content: "";
    right: 0;
}

.arrow-button:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
    border-right: 2px solid #E4A796;
    border-bottom: 2px solid #E4A796;
}

.arrow-button:hover > .arrow::before {
    opacity: 1;
    width: 8px;
}

.arrow-button:hover {
    background-color: #42455a;
    color: #E4A796;
}
/*Pil slutt*/